# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# Django
*.log
staticfiles/
media/
db.sqlite3

# Environment
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
